/* Estilo para el cuerpo y el encabezado */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
header img {
    max-width: 100%;
height: auto;
display: block;
}
header {
    background-color: #000000;
    color: #ff0000;
    text-align: center;
    padding: 20px;
}
.gif-left {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Estilo para los GIFs a la derecha */
.gif-right {
    max-width: 100px;
    height: auto;
    margin-left: 10px;
}
footer {
    background-color: #000000;
    color: #ff0000;
    text-align: center;
    padding: 10px;
}
/* Estilo para los GIFs */
.gif1 {
    max-width: 200px;
    height: auto;
}
.gif2 {
    max-width: 400px;
    height: auto;

}
/* Estilo para el contenido principal */
main {
    padding: 20px;
}
